# Ignore virtual environment
.venv/
venv/
env/

# Ignore Streamlit configs & caches
.streamlit/
.streamlit/secrets.toml

# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore databases and logs
*.db
*.sqlite
*.sqlite3
*.log

# Ignore OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore secrets
.env
.env.*
*.key
*.pem
